<form action="/pirates" method="POST">
<h2>Pirate</h2>
<label for="pirate_name">Name:</label> <input type="text" id="pirate_name" name="pirate[name]"><br>
<label for="pirate_weight">Weight:</label> <input type="text" id="pirate_weight" name="pirate[weight]"><br>
<label for="pirate_height">Height:</label> <input type="text" id="pirate_height" name="pirate[height]"><br>

<h2>First Ship</h2>
<label for="ship_name_1">Name:</label> <input type="text" id="ship_name_1" name="pirate[ships][][name]"><br>
<label for="ship_type_1">Type:</label> <input type="text" id="ship_type_1" name="pirate[ships][][type]"><br>
<label for="ship_booty_1">Booty Attributes:</label> <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"><br>

<h2>Sectond Ship</h2>
<label for="ship_name_2">Name:</label> <input type="text" id="ship_name_2" name="pirate[ships][][name]"><br>
<label for="ship_type_2">Type:</label> <input type="text" id="ship_type_2" name="pirate[ships][][type]"><br>
<label for="ship_booty_2">Booty Attributes:</label> <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"><br>

<input type="submit" value="Submit">
</form>